@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(45deg);
}

@import "tailwindcss";
@plugin 'daisyui' {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary-content: #a5a1ff; /* হেডিংয়ের প্রথম অংশ - হালকা নীল/ল্যাভেন্ডার */
  --color-secondary-content: #df6fa8; /* হেডিংয়ের দ্বিতীয় অংশ - হালকা গোলাপি/ম্যাজেন্টা */
  --color-primary: #5f5cff; /* CTA বাটনের বেসিক রঙ */
  --color-secondary: #b46aff; /* CTA বাটনের গ্রেডিয়েন্ট শেষ */
  --color-accent: #cccccc; /* বর্ণনা টেক্সটের ধূসর রঙ */
  --color-base-200: #0b0c2a; /* ব্যাকগ্রাউন্ড - গা dark navy blue */
  --color-base-300: #1b183a; /* ব্যাকগ্রাউন্ড গ্রেডিয়েন্টের দ্বিতীয় অংশ */
}

a.active {
  @apply border-b-3 border-white;
}

.hero-title {
  background: -webkit-linear-gradient(bottom right, #908be7, #e665a7, #8f8afc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  @apply text-5xl font-semibold;
  background: -webkit-linear-gradient(bottom right, #908be7, #e665a7, #8f8afc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
